# Plot for Summary Report: Regression Analysis And 2018 Projections

In [90]:
%run 'helpers-for-report-plot-generation.ipynb'

In [91]:
# Get Data
def get_data():
    """Get raw data from local database"""
    milk = get_dataset('milk_volume')
    birthdates = get_dataset('birthdates')
    genetics = get_dataset('genetics')
    classification = get_dataset('classification')
        
    return select_milk_features(milk), \
           select_birthdate_features(birthdates), \
           select_genetics_features(genetics), \
           select_classification_features(classification)
    
def select_milk_features(milk):
    """Prepare and select milk features"""
    
    milk = milk.rename(columns={'date':'milk_date'})
    milk = milk.dropna(axis=0, how='any')
    milk = milk.sort_values(['milk_date', 'animal_id']).reset_index()
    
    features = ['animal_id', 'milk_date', 'milk_weight', 'days_since_calving']
    return milk[features]

def select_birthdate_features(birthdates):
    """Prepare and select birthdate features"""
    
    birthdates = birthdates.sort_values(['birthdate']).reset_index()
    
    features = ['animal_id', 'birthdate']
    return birthdates[features]

def select_genetics_features(genetics):
    """Prepare and select genetics features"""
    genetics = genetics.rename(columns={'milk':'milk_score'})
    
    features = ['animal_id', 'milk_score', 'ctpi']
    return genetics[features]

def select_classification_features(classifications):
    """Prepare and select genetics features"""
    
    classifications = classifications.sort_values(['animal_id', 'date'])
    classifications = classifications.drop_duplicates(subset=['animal_id'], keep='last').reset_index()
    classifications = classifications.fillna(classifications.mean()) 
    
    features = ['animal_id', 'dairy_form', 'udder_score_aggregate', 'dairy_strength_aggregate', \
                'final_score', 'breed_age_average']
    return classifications[features]

In [99]:
def build_annual_performance_profiles(milk, birthdates):
    """Takes milk data and and calculates the performance profiles of each animal by calendar year."""
    years = milk['milk_date'].dt.year.unique()
    profiles = []
    
    for year in years:
        year_mask = (milk['milk_date'].dt.year == year)
        milk_for_year = milk[year_mask]
        
        for animal_id in milk['animal_id'].unique():    
            animal_milk_for_year = milk_for_year[milk_for_year['animal_id'] == animal_id]
            
            profile = {}
            profile['animal_id'] = animal_id
            profile['year'] = year
            profile['days_milked'] = animal_milk_for_year.count()['animal_id']
            profile['total_milkweight'] = animal_milk_for_year['milk_weight'].sum()
            profile['milkweight_per_day'] = animal_milk_for_year['milk_weight'].mean()
            
            profiles.append(profile)
        
    data = pd.DataFrame(profiles)
    data = data.sort_values(['year', 'animal_id', 'milkweight_per_day']).reset_index()
    features = ['year', 'animal_id', 'days_milked', 'milkweight_per_day', 'total_milkweight']
    return data[features].fillna(0)

In [92]:
milk, birthdates, genetics, classification = get_data()

In [100]:
profiles = build_annual_performance_profiles(milk, birthdates)

      year  animal_id  days_milked  milkweight_per_day  total_milkweight
0     2015          4          180           58.399444           10511.9
1     2015        200           31           72.280645            2240.7
2     2015        201            0            0.000000               0.0
3     2015        478          181           76.753591           13892.4
4     2015        941            0            0.000000               0.0
5     2015       1295          181           87.464641           15831.1
6     2015       1351           61           66.436066            4052.6
7     2015       1418          136           84.247059           11457.6
8     2015       1508          159           61.246541            9738.2
9     2015       1528          142           85.002113           12070.3
10    2015       1531          172           82.188953           14136.5
11    2015       1540           51           89.745098            4577.0
12    2015       1551          142           78.404930           11133.5
13    2015       1553          167           83.120958           13881.2
14    2015       1558            0            0.000000               0.0
15    2015       1559            0            0.000000               0.0
16    2015       1596          178           87.167416           15515.8
17    2015       1608           92           85.444565            7860.9
18    2015       1621            4            0.000000               0.0
19    2015       1622          181           74.650276           13511.7
20    2015       1624          167           87.997605           14695.6
21    2015       1640           56           75.687500            4238.5
22    2015       1650           12           69.683333             836.2
23    2015       1671          153           79.384314           12145.8
24    2015       1703           85           82.835294            7041.0
25    2015       1705           35          103.948571            3638.2
26    2015       1709          180           71.277778           12830.0
27    2015       1710           24           50.287500            1206.9
28    2015       1711          165           68.784242           11349.4
29    2015       1715            3           11.366667              34.1
...    ...        ...          ...                 ...               ...
1023  2017       2266           40           85.070000            3402.8
1024  2017       2268           47           74.955319            3522.9
1025  2017       2271           64           64.904687            4153.9
1026  2017       2272          101           58.005941            5858.6
1027  2017       2273           95           67.411579            6404.1
1028  2017       2275           60           70.991667            4259.5
1029  2017       2276           88           64.857955            5707.5
1030  2017       2277           90           73.636667            6627.3
1031  2017       2279           89           67.524719            6009.7
1032  2017       2280           84           79.103571            6644.7
1033  2017       2281           63           82.623810            5205.3
1034  2017       2282           44           52.915909            2328.3
1035  2017       2284           38           57.900000            2200.2
1036  2017       2285           27           48.900000            1320.3
1037  2017       2286           11           44.718182             491.9
1038  2017       2288           24           64.808333            1555.4
1039  2017       2289           37           67.962162            2514.6
1040  2017       2290           15           55.406667             831.1
1041  2017       2292           12           46.341667             556.1
1042  2017       2293           26           54.746154            1423.4
1043  2017       2297           23           41.878261             963.2
1044  2017       2298           29           62.337931            1807.8
1045  2017       2300            2            0.000000               0.0
1046  2017       2301           26           79.715385            2072.6
1047  2017       2303           14           56.614286             792.6
1048  2017       2304            4           21.500000              86.0
1049  2017       2307            1           20.300000              20.3
1050  2017       2484          136           75.878676           10319.5
1051  2017       3003            0            0.000000               0.0
1052  2017       5418            0            0.000000               0.0

[1053 rows x 5 columns]